<h1>Courses</h1>
<table border= "1">
  <thead>
  <tr>
    <th> Title </th>
    <th> Day Class</th>
    <th> Night Class</th>
  </thead>
  </tr>

  <tbody>
      <% @courses.each do |course| %>
      <tr>
    <td><%= link_to course.title, @course %></td>
    <td><%= course.day_class %></td>
    <td><%= course.night_class %></td>
    <td><%= link_to 'Delete Course', course, method: :delete %></td>
 </tr>
</tbody>
<% end %>
</table>

<%= link_to 'Create Course', new_course_path %>
