<h1>All Courses</h1>
<table border= "1">
  <thead>
  <tr>
    <th> Title </th>
    <th> Day Class</th>
  </thead>
  </tr>

  <tbody>
      <% @courses.each do |course| %>
      <tr>
    <td><%= link_to course.title, course_path(course) %></td>
    <td><%= course.day_class %></td>
    <td><%= link_to 'Delete Course', course, method: :delete %></td>
 </tr>
</tbody>
<% end %>
</table>

<%= link_to 'Create Course', new_course_path %>
<%= link_to 'See All Users', users_path %>
